@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
}

main {
  min-height: 100vh;
}

/* remove the input focus blue box, it will be in the wrong place. */
#searchInput:focus {
  outline: none;
}

/* Add the focus effect to the form so it contains the button */
#searchBar:focus-within {
  outline: 4px solid #b9b9b994;
}
